<div class="container-fluid">
<div class="col-md-offset-1">
  <h1>
    Welcome to {{title}}!
  </h1>
  Tutorial found at
  <label>
      <a target="_blank" 
      rel="noopener noreferrer" 
      href="https://www.devglan.com/spring-boot/spring-boot-angular-example">https://www.devglan.com/spring-boot/spring-boot-angular-example
      </a>
    </label>
  <br>
</div>
<br>
<a routerLink="/users">List Users</a>
<a style="margin-left:10px" routerLink="/add">Add User</a>
<br/>
<router-outlet></router-outlet>
</div>

